@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --headingsFont: "Orbitron", sans-serif;
    --textFont: "Roboto", sans-serif;
    --bodyColor: #121212;
    --mainColor: #1F2933;
    --secondColor: #2C3E50;
    --thirdColor: #0D1B2A;
    --mainCallToAction: #0D1B2A;
    --secondCallToAction: #FF5722;
}