/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Creating changable Root-Elements */
:root{
    --headingsFont: "Orbitron", sans-serif;
    --textFont: "Roboto", sans-serif;
    --bodyColor: #121212;
    --navColor: #1F2933;
    --mainColor: #2C3E50;
    --footerColor: #0D1B2A;
    --mainCallToAction: #0D1B2A;
    --secondCallToAction: #FF5722;
}
/* General Styling */
body{
    background-color: var(--bodyColor)
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--headingsFont)
}
p{
    font-family: var(--textFont)
}


/* Specific Styling */
/* navbar */
nav{
    background-color: var(--navColor);
}
#logoIcon{
    color: white;
}
.navbar-toggler{
    background-color: white;
}